<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Bootstrap - Button Demo</title>
    <% include /src/include/trackers.ejs %>

    <% include /src/include/styles.ejs %>

</head>

<body>
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4RVVFC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
 <!-- End Google Tag Manager (noscript) -->

   <!-- <% include /src/include/header.ejs %> -->
   <% include /src/include/scripts.ejs %>

    <% include /src/include/intro.ejs %>
    <% include /src/include/expirience.ejs %>
    <% include /src/include/contact.ejs %>
    <% include /src/include/projects.ejs %>




        <% include /src/include/footer.ejs %>

               
</body>

</html>