<div id="contact" class="container mt-5">
    <h1 class="text-center"><i class="fa  fa-phone fa-rotate-90"></i></h1>
    <h1 class="text-center mb-5"><strong class="border-bottom">Contact</strong></h1>

  <!--  <div class="jumbotron text-center">
        <h1><strong> I will get in touch with you!</strong></h1>
        <h5>Please provide me your name, phone and best email so I can reach to you as soon as possible.</h5>
        <form class="container form text-center">
            <input class="form-control-sm mb-2" type="text" required placeholder="Name">
            <input class="form-control-sm mb-2" type="number" required placeholder="Your Phone">
            <input class="form-control-sm mb-2" type="email" required placeholder="Your best Email">
            <button class="btn btn-primary " type="submit"><i class="mr-2 fa fa-paper-plane"></i>Send</button>
        </form>
    </div>-->

    <div class="jumbotron text-center">
        <h1 class="mb-4"><strong> Contact Info </strong></h1>
        <div class="container form text-center">
            <h3>Pedro Moter</h3>
            <h4><i class="mr-2 fa fa-phone fa-rotate-90"></i><a href="tel:+13219006457">+1 (321)-900-6457</a></h4>
            <h4><i class="mr-2 fa fa-at"></i><a href="mailto:pedromoter@me.com">pedromoter@me.co</a></h4>
        </div>
    </div>



</div>