
<div class="container mt-5">
    <h1 class="text-center"><i class="fa  fa-rocket"></i></h1>
    <h1 class="text-center mb-5"><strong class="border-bottom">Experience</strong></h1>
    <div class="row">
        <div class="col-md-4 my-auto text-center">
            <h1>"Pragmatic, yet creative thinker."</h1>
            <p> Working with many companies from very early allowed me to develop a sense of logic but also a sense of praticallity and Business Logic to approach different problems in the best ways for the costumers.  </p>
        </div>
        <div class="col-md-8">
               
            <div id="experience1" class="swiper-container">
            <div class="swiper-wrapper">
                    <div class="swiper-slide text-center">
                            <img  class="w-100 rounded mb-4" src="images/erbonsite.png">
                            <a target="_blank" href="https://erbonsoftware.com.br">Erbon Software Brazil and Latin America Website <i class="ml-2 fa fa-external-link-alt"></i></a>
                    </div>
                   
                    <div class="swiper-slide text-center">
                            <img  class="w-100 rounded mb-4" src="images/duallanding.png">
                            <a target="_blank" href="https://dualhighschool.com">Dual High School Full-Stack Website and Payment Logic <i class="ml-2 fa fa-external-link-alt"></i></a>
                    </div>

                    <div class="swiper-slide text-center">
                        <img  class="w-100 rounded mb-4" src="images/mch.png">
                        <a target="_blank" href="https://myclubhours.com">My Club Hours Full-Stack and Apps <i class="ml-2 fa fa-external-link-alt"></i></a>
                 </div>

                    <div class="swiper-slide text-center">
                            <img  class="w-100 rounded mb-4" src="images/glc.png">
                            <a target="_blank" href="http://guialocalchannel.tv">Guia Local Channel Website<i class="ml-2 fa fa-external-link-alt"></i></a>
                        </div>
            
                    <div class="swiper-slide text-center">
                            <img  class="w-100 rounded mb-4" src="images/hpi.png">
                            <a target="_blank" href="http://hotelpetropolisinn.com.br">Hotel Petrópolis Inn Website <i class="ml-2 fa fa-external-link-alt"></i></a>
                     </div>
            </div>  
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-black"></div>
            <div class="swiper-button-prev swiper-button-black"></div>

            </div>
            </div>
    </div>


    <div class="row mt-5">
          
            <div class="col-md-6">
                   
                <div id="experience2" class="swiper-container">
                <div class="swiper-wrapper">
                        <div class="swiper-slide text-center">
                                <img  class="w-100 rounded mb-4" src="images/timcook.JPG">
                                <span><i class="mr-2 fab fa-apple"></i>Apple's WWDC18 Scholarship Winner</span>

                            </div>
                </div>  
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-black"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
    
                </div>
                </div>
                <div class="col-md-6 my-auto text-center">
                        <h1>"More than just a programmer."</h1>
                        <p> I really like to bring ideas to life, it feels like something I was born to do. I am really passionate about building things that help others in their lifes. </p>
                    </div>
        </div>

        <div class="row mt-5">
                <div class="col-md-6 my-auto text-center">
                        <h1>IoT is the Future.</h1>
                        <p> Since I have started using programming computers, I was always facinated by automation and how the real world could altered and affected by devices "magically" connected without wires. </p>
                    </div>

                <div class="col-md-6">
                       
                    <div id="experience2" class="swiper-container">
                    <div class="swiper-wrapper">
                            <div class="swiper-slide text-center">
                                <img class="w-100" src="images/telemetry.JPG">
                                <span>Telemetry, monitor remote devices anywhere.</span>
    
                                </div>
                    </div>  
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-black"></div>
                    <div class="swiper-button-prev swiper-button-black"></div>
        
                    </div>
                    </div>
           
            </div>


        <div class="row mt-5">
               

                <div class="col-md-6">
                       
                    <div id="experience2" class="swiper-container">
                    <div class="swiper-wrapper">
                            <div class="swiper-slide text-center">
                                    <iframe class="w-100" style="height:400px;" src="https://www.youtube.com/embed/2BXtAJfkI6o?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <span>Dual High School Makrting Director and Presenter</span>
    
                                </div>
                    </div>  
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-black"></div>
                    <div class="swiper-button-prev swiper-button-black"></div>
        
                    </div>
                    </div>
                    <div class="col-md-6 my-auto text-center">
                            <h1>Digital Marketing is key.</h1>
                            <p> I have had the opportunity to direct and organize the marketing material for a few companies, and that has changed completely the way I see things. Everything has to have purpose. </p>
                        </div>
        </div>

  
                

</div>
</div>





<script>
        var swiper = new Swiper('#experience1', {
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
        swiper.autoplay.start();
 </script>



<script>
        var swiper = new Swiper('#experience2', {
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
        swiper.autoplay.start();
 </script>

