<div class="bg-dark text-white w-100 text-center my-auto h-100">
        <h3 class=" w-100 border-bottom pt-3 pb-3">PEDRO MOTER</h3>
        <div class="position-absolute w-100" style="bottom: 50%;">
        <h1 class="mb-4"><strong>Building solutions for <typed id="typed1">the future.</typed></strong> </h1>
        <h4 class="mt-3"> IoT, Web, Apps, Marketing and much more...</h4>
        </div>
        <div class="w-100 position-absolute text-center mb-5 pb-5" style="bottom: 0%"> 
                <h5 class="mt-5 mb-5">Check it out</h5>
                <i class="fa fa-arrow-circle-down bounce" style="font-size: 1.5rem;"></i>
        </div> 
</div>
</div>


<script>
var options = {
  strings: ["future.","companies.","startups.","people.","the Web."],
  typeSpeed: 150,
  loop: true
}

var typed = new Typed("#typed1", options);

</script>