<div class="container mt-5">
        <h1 class="text-center"><i class="fa  fa-project-diagram"></i></h1>
        <h1 class="text-center mb-5"><strong class="border-bottom">Projects</strong></h1>

        <div class="jumbotron">
                <h1>Erbon Software - Brazil and Latam</h1>
                <p>Website design.</p>
                <p><a class="btn btn-primary btn-lg" href="http://erbonsoftware.com" role="button"><i
                                        class=" mr-2 fa fa-external-link-alt"></i>See it in action</a></p>
        </div>

        <div class="jumbotron rounded">
                <h1>Dual High School </h1>
                <p>Website Full Stack, Payment Platform and Marketing</p>
                <p><a class="btn btn-primary btn-lg" href="https://dualhighschool.com" role="button"><i
                                        class=" mr-2 fa fa-external-link-alt"></i>See website</a></p>
                <p><a class="btn btn-primary btn-lg" href="https://www.youtube.com/channel/UCmSqTyw3NLZxaK6dduiPulg?view_as=subscriber" role="button"><i class=" mr-2 fab fa-youtube"></i>See
                                Youtube Channel</a></p>
                <p><a class="btn btn-primary btn-lg" href="https://www.instagram.com/dualhighschool/" role="button"><i class=" mr-2 fab fa-instagram"></i>See
                                Instagram</a></p>

        </div>
        <div class="jumbotron">
                <h1>Guia Local Channel</h1>
                <p>Website, Apps, design and Iot sytems.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button"><i
                                        class=" mr-2 fa fa-external-link-alt"></i>See website</a></p>
                <p><a class="btn btn-primary btn-lg" href="https://apps.apple.com/us/app/guia-local-channel/id1236608573" role="button"><i class=" mr-2 fab fa-app-store"></i>See
                                IOS App</a></p>
                <p><a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=com.glc.pedromoter.glcl" role="button"><i class=" mr-2 fab fa-google-play"></i>See
                                Android App</a></p>

        </div>

        <div class="jumbotron">
                <h1>Telemetry IoT</h1>
                <p>Monitor devices perfoming tasks remotely and obtain live information and status.</p>
                <p><a class="btn btn-primary btn-lg" href="#contacat" role="button"><i class=" mr-2 fa fa-lock"></i>Request
                                demo</a></p>
        </div>

        <div class="jumbotron">
                <h1>My Club Hours </h1>
                <p>Full-Stack Website, multi-platform apps.</p>
                <p><a class="btn btn-primary btn-lg" href="http://myclubhours.com" role="button"><i
                                        class=" mr-2 fa fa-external-link-alt"></i>See website</a></p>
                <p><a class="btn btn-primary btn-lg" href="https://apps.apple.com/us/app/my-club-hours/id1351071743" role="button"><i class=" mr-2 fab fa-app-store"></i>See
                                IOS App</a></p>
                <p><a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=com.pedromoter.mch" role="button"><i class=" mr-2 fab fa-google-play"></i>See
                                Android App</a></p>
        </div>
        <div class="jumbotron">
                <h1>Hotel Petrópolis Inn </h1>
                <p>Website and booking engine integration</p>
                <p><a class="btn btn-primary btn-lg" href="http://hotelpetropolisinn.com.br" role="button"><i
                                        class=" mr-2 fa fa-external-link-alt"></i>See website</a></p>
        </div>

        <div class="jumbotron">
                <h1>Ramada International Drive </h1>
                <p>Website.</p>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/pedromoter/RamadaIdrive" role="button"><i
                                        class=" mr-2 fab fa-github"></i>See source </a></p>
        </div>
        <!--
           <div class="jumbotron">
                        <h1>WWDC18 Project </h1>
                        <p>Game</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button"><i class=" mr-2 fab fa-github"></i>See source </a></p>
           </div>

          
           <div class="jumbotron">
                        <h1>WWDC19 Project </h1>
                        <p>Game</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button"><i class=" mr-2 fab fa-github"></i>See source </a></p>
           </div>
           -->
</div>